@media only screen and (max-width: 667px){
    .footer .footer-1 {
        width: 100%;
        flex-wrap: wrap;
        
    }
    .footer .footer-2{
     flex-wrap: wrap;
    }
    .footer .footer-3{
        flex-wrap: wrap;
       }
    .container .yellow-heading{
margin: 10px;
    }
}
@media screen and(max-width: 767px){
    .blood-donation{
        margin-top: 0;
        text-align: center;
    }
    blood-donation img{
        margin-bottom: 0;
    }
}
