
.top{
    background-color: #3cbb78;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
.top-background{
    background-color: #E6F3F6;
    background-position: center;
    background-size: cover;
}

.button-1{
    padding:7px 23px;
    background-color: #E6F3F6;
    cursor: pointer;
}
.button-2{
    background-color: #21b573;
    padding:9px 25px;
    border: none;
    color: white;
    cursor: pointer;
}
.body-background{
    background-color: #f4f8fa;
}
.navbar-brand{
    margin: 0 auto;
}
.red-heading{
    color:#c21f3a;
}
.yellow-heading{
    color: #FABC65;
}
li{
    list-style: none;
}
h6::after{
content:"\0482" ;

}
li:before{
    content: "\25CF" ;
    color: green;
    margin-right: 10px;
    
}
.lower-background{
    background-color: #ebf4f6;
    border-bottom:10px solid #45B77F; 
}
.button-3{
    padding:3px 5px;
border: 1px solid #C21F3A;
height: 30px;
width: 150px;
color: #c21f3a;
font: normal normal bold 17px lato;
cursor: pointer;

}
.num-background{
    width: 27px;
height: 27px;
background: #C0E4D7 0% 0% no-repeat padding-box;
opacity: 1;
text-align: center;
}
.work-area{
    padding: 100px;
    text-align: center;
}

.bottom-background{
 
        background: #45B77F no-repeat center / cover;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
    }


.button-4{
    opacity: 1;
    padding:9px 25px;
    border: 1px solid white;
    color: white;
    background-color: #45B77F;
    cursor: pointer;
}
    td,th{
        border: 1px solid lightgrey;
        text-align: center;
    }
    td{
        background-color: white;
        padding: 0 10px;
    }
    th{
        background-color: #45B77F;
        padding: 9px 10px;
        color:white;
    }
    table{
        border-collapse: collapse;
    }
    .form-row{
        width:70%;
    }
    .button-5{
        background-color: #45B77F;
        color: white;
        padding: 9px 45px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    .blockquote{
        border-radius: 10px;
        box-shadow: 5px 5px 10px lightblue;
    }
    .footer{
        background-color: rgb(72, 74, 77);
        color:white;
    line-height: 25px;
    }
    .list-style{
        list-style: none;
    }
    .fa-facebook-f{
        background:#3b5998;
    } 